option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    DATABASE_URL: "postgresql://postgres:password@blacklist-db.c61e8q6aqwiu.us-east-1.rds.amazonaws.com:5432/blacklist_db?sslmode=require"
    JWT_SECRET_KEY: "super-secret-static-key"
    STATIC_TOKEN: "my-static-bearer-token"
