container_commands:
  01_create_database:
    command: "source /var/app/venv/*/bin/activate && python create_db.py"
    leader_only: true
    cwd: /var/app/staging
  02_create_tables:
    command: "source /var/app/venv/*/bin/activate && python -c 'from application import application, db; db.create_all()' 2>&1 || true"
    leader_only: true
    cwd: /var/app/staging
